*:focus {
  outline: 0 !important;
}
.TheBody {
  background-color: #282c34;
}
.App {
  text-align: center;
  min-height: 103vh;
  margin-top: -30px;
}
.pageName {
  font-size: 75px;
  float: left;
  margin-top: 75px;
  color: white;
}
#textTLE {
  float: right;
  margin-right: 20%;
  width: 60%;
  margin-top: 15px;
  font-size: 18px;
  resize: none;
}
.InfoTLEExplenation {
  font-size: 25px;
  /* margin-left: 100px; */
  font-weight: bold;
}
.uploadTLE {
  float: right;
  margin-right: 20%;
  border: white solid 2px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  color: white;
  font-size: 18px;
  resize: none;
}

#convertButton {
  float: right;
  background-color: black;
  border: 2px white solid;
  color: white;
  border-radius: 40px;
  padding: 15px 0px;
  margin-right: 40%;
  width: 20%;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
#convertButton:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
}

/* table */
#ExitButton {
  float: left;
  background-color: indianred;
  color: white;
  float: right;
  font-size: 15px;
  text-align: center;
  width: 35px;
  padding: 5px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
#ExitButton:hover {
  background-color: white;
  color: indianred;
  border: 2px solid indianred;
}
/* table,
th,
td {
  border: 1px solid black;
} */
th {
  text-decoration: underline;
  text-align: center;
}
#firstLine {
  float: left;
  width: 40%;
}
#SencondLine {
  float: right;
  width: 40%;
}
#TLEprops {
  display: none;
  float: right;
  width: 80%;
  margin-right: 10%;
  background-color: gray;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
}
.explainParam {
  color: white;
}
.parameter {
  font-weight: bold;
}

/****************************************************************************************************************/
/* KeplerStat  */
/****************************************************************************************************************/
#KeplerStat, #CartesianStat {
  display: none;
  float: right;
  width: 80%;
  margin-right: 10%;
  background-color: gray;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
}
#CartesianStat{
  /* display: block; */
}
.keplerParam {
  background-color: white;
  /* width: 80%; */
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.CartesianParam{
  background-color: white;
  /* width: 80%; */
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  border-top: black solid 4px;
}

/****************************************************************************************************************/
/* header and logo  */
/****************************************************************************************************************/
.App-logo {
  height: 250px;
  pointer-events: none;
  float: left;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/****************************************************************************************************************/
/* Button group */
/****************************************************************************************************************/
.btn-group {
  float: right;
  margin-right: 20%;
  margin-top: 150px;
  border-radius: 50%;
}
.btn-group button {
  padding: 10px;
  background-color: rgb(1, 107, 195);
  border: 2px solid rgb(131, 208, 245);
  color: white;
  cursor: pointer;
  float: left;
}
.btn-pressed{
   /* border:rgb(1, 107, 195) solid 2px !important; */
   background-color: rgb(131, 208, 245) !important;
   padding: 10px !important;
   color:black !important;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group button:hover {
  background-color: rgb(131, 208, 245);
}
.firstButton {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.lastButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* table,
th,
td {
  padding: 5px;
} */
table {
  border-collapse: separate;
  border-spacing: 15px;
}
#backTLE {
  box-shadow: 0px 1px 9px 5px black;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  margin-top: 60px;
  display: none;
}